.crearAct{
    background-image: url("../components/ActivitieCreate.img/joachim-schnurle-1f6sRuyEAig-unsplash.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}